
.card-group{
    column-gap: 10px;
    .card-img-top{
        width: 100%;
        height: 50%;
        object-fit: cover;
    .card-title{
        text-align: center;
        font-size: 3rem;
    }

    }   }