main {
    .principal{
        background-image: url("../assets/img/group-portrait-adorable-puppies.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
       
       
    
    }
}