$background-repeat-jornadas: no-repeat;
$background-size-jornadas:cover;
$background-position-jornadas:center;
$height-jornadas:50vh;
$border-jornadas: 1px solid rgb(219, 177, 194);
$background-color-jornadas: rgb(221, 156, 181);
$color-jornadas:white;
$display-jornadas:flex;
$flex-direction-jornadas:column;
$align-items-jornadas: center;
$justify-content-jornadas: center;