@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


html{
    font-size: 62.5%;
}
/**Esto es para poder calcular los rem mas sencillos, y contarlos como 10px*/



*{
    margin: 0rem;
    padding: 0;
    
}




@import"_variables.scss";
@import"_general.scss";
@import"_header.scss";
@import"_body.scss";
@import"_main.scss";
@import"_cards.scss";
@import"_testimonios.scss";
@import"_comopuedoayudar";
@import"_contactanos.scss";
@import"_jornadas.scss";
@import"_footer.scss";



   
    



