@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


html{
    font-size: 62.5%;
}
/**Esto es para poder calcular los rem mas sencillos, y contarlos como 10px*/



*{
    margin: 0rem;
    padding: 0;
    
}

body{
    font-family: 'Lato';
    font-weight: 400;
   
            }


@import"_variables.scss";
@import"_header";
@import"_main";
@import"_footer";
@import"_comopuedoayudar";
@import"_contactanos";
@import"_jornadas";
@import"_testimonios";


   
    



